body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #65ffc7;
}

header {
    background-color: #17786c;
    color: #65ffc7;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    color: #65ffc7;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #65ffc7;
}
.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #6aaca4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #17786c;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #17786c;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
p{
    color: #17786c;
}

button {
    background-color: #65ffc7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #17786c;
}
